<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="about.component.css">
</head>
<body>
    <div class="about">
        <div class="inner-section">
            <h1>Bit-Fil-a</h1>
            <p class="text">
              You're gonna need two hand to hold our toasted buns. Our fresh, juicy burgers are served up medium-well with a side of fries and a whole lot of flavor
            </p>
            <div class="skills">
                <!-- <button>Contact Us</button> -->
            </div>
        </div>
    </div>
</body>
</html>